/* Styling untuk halaman home */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('digitalwallet-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling untuk navbar di sebelah kiri */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 4px 0 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    transition: width 0.5s ease;
}

.navbar button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    transition: background 0.5s ease;
}

.navbar button:hover {
    background-color: rgba(255, 217, 0, 0.712);
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    width: 90%;
    font-size: 18px;
    border: 1px solid white;
    margin-bottom: 10px;
    transition: background 0.5s ease;
}

.navbar a:hover {
    background-color: rgba(255, 217, 0, 0.712);
}

/* Styling untuk konten */
.content {
    text-align: center;
    color: white;
    margin-left: 250px;
}

.content h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.637);
}

.content p {
    font-size: 20px;
    margin-top: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.63);
}
